* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

header {
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

main {
  padding: 64px 0;
  background-color: hsl(0deg, 0%, 40%);
}

h1 {
  margin: 0;
  font-size: 2rem;
  line-height: 1.2;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  max-width: 439px;
  padding: 96px 0 48px 24px;
}

.title {
  margin-bottom: 48px;
}

.card {
  padding: 8px 24px;
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.indented-heading {
  width: fit-content;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0;
  margin-left: -32px;
  padding: 16px 32px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}
